body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #f0a500;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    background-color: #f9a825;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.navbar a.active, .navbar a:hover {
    background-color: #e09520;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
}

.column {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
}

.column h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

.tasks,
.developers,
.backlog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    background-color: #f9a825;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mobile-message {
    display: none;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20%;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .content {
        display: none;
    }

    #mobile-message {
        display: block;
    }
}

