body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f0a500;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
  background-color: #f9a825;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.navbar a.active, .navbar a:hover {
  background-color: #e09520;
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.column {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.column h2 {
  text-align: center;
  margin: 0 0 20px 0;
}

#role-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#role-form label {
  font-size: 16px;
  margin: 10px 0;
}

#role-select,
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

#user-list {
  width: 100%;
  margin: 10px 0;
}

.user-item {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  background-color: #f9a825;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#save-button {
  background-color: #f9a825;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
